<script type="text/javascript">
$(document).ready(function()
{ 
      	var url = "/lire/feeds/front_page/";
	    $.get(url, function(html) {
	        $("#random-feeds").html(html);
	    });
    
        $(".feed-link").each(function () {
          $(this).click(function() {
            var id = this.id;
            var arrid = id.split('-');
            id = arrid[2];
            
            var url = "/lire/feeds/"+id;
            $.get(url, function(html) {
	          $("#random-feeds").html(html);
	        }); 
          });
        });
});
//feed_path(feed)
</script>
<div id="feeds-list">
	<h1>Lire Feeds</h1>
<table>
    <% @feeds.each do |feed| %>
    <tr>
      <td class="feed-list-item"><%= link_to feed.name, '#', :id => "feed-link-#{feed.id}", :class => 'feed-link' %></td>
      <!--<td><%= link_to "Edit", edit_feed_path(feed), :class => 'btn'  %></td>
      <td><%= link_to 'Delete', feed, :confirm => 'Sure?...He no le muevas si no eres Hector... aun no le pongo seguridad a esto', :method => :delete, :class => 'btn' %></td>-->
    </tr>
    <% end %>
</table>
</div>
<div id='random-feeds'>
</div>
<br/><br/>
