<script type="text/javascript">
$(document).ready(function()
{ 
	    var hostname = document.location.hostname;
	    var path = document.location.pathname;
	    var path = path.replace(/\//,'');
	    var env = path.replace(/feeds/,'');
;
        var url = "http://" + hostname + "/" + env + "feeds/cache_needs_update";
        
        //alert(hostname);
        //alert(env)
        //alert(url);
        
        $.get(url, function(cache_needs_update) {
        	needs_update = new String(cache_needs_update);
        	var obj = needs_update.split("|");
        	needs_update = obj[0];
        	feeds = obj[1].split(",");
        	
        	if(needs_update == 'true')
	        {  
		        for(i=0;i < feeds.length; i++)
		        {
		        	var url = "http://" + hostname + "/" + env + "feeds/front_page/" + feeds[i];
		        	$.get(url, function(html) {
			        	$("#random-feeds").append(html);
			    	});
		        }
		    }
		    else
		    {
		    	var url = "http://" + hostname + "/" + env + "feeds/front_page/";
		        $.get(url, function(html) {
			        $("#random-feeds").html(html);
			    });
		    }
	    });
        
        /*
	    $.get(url, function(html) {
	        	$("#random-feeds").html(html);
	    });
        */
        $(".feed-link").each(function () {
          $(this).click(function() {
            var id = this.id;
            var arrid = id.split('-');
            id = arrid[2];
            
            var url = "http://" + hostname + "/" + env + "feeds/"+id;
            $.get(url, function(html) {
	          $("#random-feeds").html(html);
	        }); 
          });
        });
});
//feed_path(feed)
</script>
<div id="feeds-list">
	<h1>Lire Feeds</h1>
<table>
    <% @feeds.each do |feed| %>
    <tr>
      <td class="feed-list-item"><%= link_to feed.name, '#', :id => "feed-link-#{feed.id}", :class => 'feed-link' %></td>
      <!--<td><%= link_to "Edit", edit_feed_path(feed), :class => 'btn'  %></td>
      <td><%= link_to 'Delete', feed, :confirm => 'Sure?...He no le muevas si no eres Hector... aun no le pongo seguridad a esto', :method => :delete, :class => 'btn' %></td>-->
    </tr>
    <% end %>
</table>
</div>
<div id='random-feeds'>
</div>
<br/><br/>
