<div id="feeds-list">
	<h1>Modify Feeds</h1>
<table>
    <% @feeds.each do |feed| %>
    <tr>
      <td class="feed-list-item"><%= link_to feed.name, '#', :id => "feed-link-#{feed.id}", :class => 'feed-link' %></td>
      <td><%= link_to "Edit", edit_feed_path(feed), :class => 'btn'  %></td>
      <td><%= link_to 'Delete', feed, :confirm => 'sure you want to dele this?', :method => :delete, :class => 'btn' %></td>
    </tr>
    <% end %>
</table>
</div>