<h2>Add new feed URL</h2>
<%= render 'form' %>
<h3>Recommended Feeds</h3>
<p>http://feeds.feedburner.com/acidcow_com, acidcow</p>
<p>http://barrapunto.com/index.rss, Barrapunto</p>
<p>http://hazmeelchingadofavor.com/feed/, Hazmeelchingadofavor</p>
<p>http://birkoff.net/blog/feed/, Birkoff . net</p>
<p>http://feeds.mashable.com/Mashable, Mashable
<p>http://feeds.feedburner.com/proceso?format=xml, Proceso</p>
<p>http://www.rfi.fr/europe/rss, RFI Europe</p>
<p>http://rss.lemonde.fr/c/205/f/3050/index.rss, Le Monde</p>
<p>http://rss.slashdot.org/Slashdot/slashdot, Slashdot</p>
<p>http://de10.com.mx/rss/rss_de10.xml, de10</p>
<p>http://www.vanguardia.com.mx/rss/loultimo.xml, Vanguardia</p>
<p>http://eluniversal.com.feedsportal.com/c/33765/f/604545/index.rss, El Universal - avances</p>
<p>http://digg.com/rss/popular.rss, Digg</p>
<p>http://digg.com/rss/top.rss, Digg - Top</p>
<p>http://feeds.wired.com/wired/index, Wired - Top</p>
<p>http://www.wired.com/wiredscience/feed/, Wired science</p>
<p>http://rss.dw.de/rdf/rss-en-all, Deutsche Welle</p>
