<div style="float: left;">
<%= render 'login_form' %>
</div>

<div style="float: right;">
<%= render 'home/about_us' %>
<h3>Just looking around?... Register and start reading now!</h3>
<%= render 'form' %>
</div>
