<h1>Read Later Queue</h1>
<div>
<table>
    <% @items.each do |item| %>
    <tr>
      <td class="feed-list-item"><%= link_to item.title, item.url, :target => "_blank" %></td>
      <td><%= link_to 'Delete', item, :confirm => 'Sure you want to delete this?', :method => :delete, :class => 'btn' %></td>
    </tr>
    <% end %>
</table>
</div>
<br/><br/>