<h1>Lire Read Later Queue</h1>
<%= link_to 'Feeds List', { :controller => :feeds, :action => :index }, :class => "btn" %>
<div id="feeds-list">
<table>
    <% @items.each do |item| %>
    <tr>
      <td class="feed-list-item"><%= link_to item.title, item.url, :target => "_blank" %></td>
      <td><%= link_to 'Delete', "/lire/readlater/#{item.id}", :confirm => 'Sure?...He no le muevas si no eres Hector... aun no le pongo seguridad a esto', :method => :delete, :class => 'btn' %></td>
    </tr>
    <% end %>
</table>
</div>
<br/><br/>